/* .main {
  margin: 0;
  width: 100vw;
  margin-left: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.btn {
  width: min-content;
  margin-top: 5px;
  background-color: rgb(115, 182, 221);
} */
